<div class="video-inner component-inner" role="region" aria-label="{{_globals._components._video.ariaRegion}} {{#if _video.transcriptLink}}{{_globals._components._video.transcriptButton}}{{/if}}" {{#if _globals._components._video.ariaRegion}}tabindex="0"{{/if}}>
    {{> component this}}
    <div class="video-widget component-widget a11y-ignore-aria">
      <video preload="none" width="100%" poster="{{_media.poster}}" controls="controls" id="video">
        <source src="{{_media.mp4}}" type="video/mp4"/>
        {{#if _useClosedCaptions}}
          <track kind="subtitles" src="{{_media.cc.src}}" type="text/vtt" srclang="{{_media.cc.srclang}}" default>
        {{/if}}
      </video>
      <button class="base video-overlay-button" role="button"></button>
      <div class="video-progressBar">
        <div class="video-progress"></div>
      </div>
    </div>
    {{#if _transcript}}
    <div class="video-transcript-container">
      <div class="video-transcript-button-container">
        {{#if _transcript._inlineTranscript}}
          <button class="video-inline-transcript-button button" role="button">
            <div class="transcript-text-container">
              {{#if _transcript.inlineTranscriptButton}}
                {{_transcript.inlineTranscriptButton}}
              {{else}}
                {{_transcript.transcriptLink}}
              {{/if}}
            </div>
          </button>
        {{/if}}
        {{#if _transcript._externalTranscript}}
          <button onclick="window.open('{{_transcript.transcriptLink}}')" class="video-external-transcript-button button" role="button">
            <div class="transcript-text-container">
              {{#if _transcript.transcriptLinkButton}}
                {{_transcript.transcriptLinkButton}}
              {{else}}
                {{_transcript.transcriptLink}}
              {{/if}}
            </div>
          </button>
        {{/if}}
        </div>
        {{#if _transcript._inlineTranscript}}
          <div class="video-inline-transcript-body-container">
            <div class="video-inline-transcript-body">
            {{{a11y_text _transcript.inlineTranscriptBody}}}
            </div>
          </div>
        {{/if}}
    </div>
    {{/if}}
</div>
